In [1]:
# Imports
import re
import os

# Packages
import lxml.html
import pandas

In [2]:
# Citation regex
pattern_citation_list = ['(\[\d{2,4}\])[ ]*([A-Z0-9].+?)(\d{1,4})',
                        ]
re_citation_list = [re.compile(pattern, re.DOTALL | re.VERBOSE | re.MULTILINE | re.UNICODE)
                    for pattern in pattern_citation_list]

In [3]:
# Setup constants
HTML_INPUT_PATH = "../data/text/"

In [4]:
# Build list of paths to review
court_path_list = []
for country in os.listdir(HTML_INPUT_PATH):
    for level_a in os.listdir(os.path.join(HTML_INPUT_PATH, country, "cases")):
        for level_b in os.listdir(os.path.join(HTML_INPUT_PATH, country, "cases", level_a)):
            if level_b.isdigit():
                court_path_list.append({"court_name": level_a,
                                        "court_division": None,
                                        "country": country,
                                        "year": int(level_b),
                                        "path": os.path.join(HTML_INPUT_PATH, country, "cases", level_a, level_b)})
                continue

            for level_c in os.listdir(os.path.join(HTML_INPUT_PATH, country, "cases", level_a, level_b)):
                court_path_list.append({"court_name": level_a,
                                        "court_division": level_b,
                                        "country": country,
                                        "year": int(level_c),
                                        "path": os.path.join(HTML_INPUT_PATH, country, "cases", level_a, level_b, level_c)})

print("Court-years detected: {0}".format(len(court_path_list)))

Court-years detected: 292

In [5]:
raw_match_list = []

# Iterate through court-year paths
for court_path in court_path_list:
    # Get file list
    court_year_file_list = os.listdir(court_path["path"])
    print((court_path["court_name"],
           court_path["court_division"],
           court_path["year"],
           len(court_year_file_list)          
          ))
    
    for case_file_name in court_year_file_list:
        case_file_path = os.path.join(court_path["path"], case_file_name)
        with open(case_file_path, "r") as input_file:
            text_buffer = input_file.read()
        
        for re_citation in re_citation_list:
            for match in re_citation.findall(text_buffer):
                #print((case_file_path, match))
                raw_match_list.append((court_path["court_name"],
                                       court_path["court_division"],
                                       court_path["year"],
                                       case_file_name.split(".")[0],
                                       match[1],
                                       match[0].strip("[]"),
                                       match[2]))

('EWHC', 'Admlty', 2015, 6)
('EWHC', 'Admlty', 2003, 4)
('EWHC', 'Admlty', 2017, 1)
('EWHC', 'Admlty', 2006, 1)
('EWHC', 'Admlty', 2002, 7)
('EWHC', 'Admlty', 2004, 4)
('EWHC', 'Admlty', 2014, 4)
('EWHC', 'Admlty', 2001, 7)
('EWHC', 'Admlty', 2005, 3)
('EWHC', 'Admlty', 2009, 8)
('EWHC', 'Admlty', 1999, 1)
('EWHC', 'Admlty', 2016, 1)
('EWHC', 'Admlty', 2011, 5)
('EWHC', 'Admlty', 2013, 3)
('EWHC', 'Admlty', 2012, 3)
('EWHC', 'Admlty', 2008, 6)
('EWHC', 'Admlty', 2000, 2)
('EWHC', 'Admlty', 2018, 2)
('EWHC', 'Admlty', 2007, 2)
('EWHC', 'Admlty', 2010, 3)
('EWHC', 'Admin', 2015, 714)
('EWHC', 'Admin', 2003, 626)
('EWHC', 'Admin', 2017, 544)
('EWHC', 'Admin', 2006, 511)
('EWHC', 'Admin', 2002, 261)
('EWHC', 'Admin', 1997, 52)
('EWHC', 'Admin', 2004, 518)
('EWHC', 'Admin', 1996, 23)
('EWHC', 'Admin', 2014, 723)
('EWHC', 'Admin', 2001, 249)
('EWHC', 'Admin', 2005, 522)
('EWHC', 'Admin', 2009, 804)
('EWHC', 'Admin', 1999, 60)
('EWHC', 'Admin', 2016, 530)
('EWHC', 'Admin', 2011, 511)
('EWHC', 'Admin', 1994, 8)
('EWHC', 'Admin', 2013, 698)
('EWHC', 'Admin', 2012, 731)
('EWHC', 'Admin', 2008, 713)
('EWHC', 'Admin', 1998, 52)
('EWHC', 'Admin', 2000, 200)
('EWHC', 'Admin', 1993, 6)
('EWHC', 'Admin', 2018, 191)
('EWHC', 'Admin', 2007, 525)
('EWHC', 'Admin', 1995, 14)
('EWHC', 'Admin', 2010, 632)
('EWHC', 'QB', 2015, 294)
('EWHC', 'QB', 2003, 79)
('EWHC', 'QB', 2017, 255)
('EWHC', 'QB', 2006, 173)
('EWHC', 'QB', 2002, 54)
('EWHC', 'QB', 1997, 6)
('EWHC', 'QB', 1990, 1)
('EWHC', 'QB', 2004, 89)
('EWHC', 'QB', 1996, 6)
('EWHC', 'QB', 2014, 312)
('EWHC', 'QB', 2001, 38)
('EWHC', 'QB', 2005, 150)
('EWHC', 'QB', 2009, 233)
('EWHC', 'QB', 1999, 17)
('EWHC', 'QB', 2016, 304)
('EWHC', 'QB', 1991, 1)
('EWHC', 'QB', 2011, 282)
('EWHC', 'QB', 1994, 3)
('EWHC', 'QB', 2013, 270)
('EWHC', 'QB', 2012, 278)
('EWHC', 'QB', 2008, 226)
('EWHC', 'QB', 1998, 9)
('EWHC', 'QB', 2000, 29)
('EWHC', 'QB', 1993, 5)
('EWHC', 'QB', 2018, 144)
('EWHC', 'QB', 2007, 207)
('EWHC', 'QB', 1995, 2)
('EWHC', 'QB', 2010, 269)
('EWHC', 'Mercantile', 2015, 2)
('EWHC', 'Mercantile', 2014, 2)
('EWHC', 'Mercantile', 2001, 1)
('EWHC', 'Mercantile', 2009, 2)
('EWHC', 'Mercantile', 2011, 3)
('EWHC', 'Mercantile', 2013, 1)
('EWHC', 'Mercantile', 2012, 5)
('EWHC', 'Mercantile', 2008, 1)
('EWHC', 'Mercantile', 2010, 5)
('EWHC', 'Ch', 2015, 369)
('EWHC', 'Ch', 2003, 180)
('EWHC', 'Ch', 2017, 349)
('EWHC', 'Ch', 2006, 302)
('EWHC', 'Ch', 2002, 105)
('EWHC', 'Ch', 1997, 6)
('EWHC', 'Ch', 2004, 232)
('EWHC', 'Ch', 1996, 3)
('EWHC', 'Ch', 1992, 2)
('EWHC', 'Ch', 2014, 324)
('EWHC', 'Ch', 2001, 95)
('EWHC', 'Ch', 2005, 264)
('EWHC', 'Ch', 2009, 370)
('EWHC', 'Ch', 1999, 46)
('EWHC', 'Ch', 2016, 344)
('EWHC', 'Ch', 2011, 326)
('EWHC', 'Ch', 1994, 3)
('EWHC', 'Ch', 2013, 351)
('EWHC', 'Ch', 2012, 332)
('EWHC', 'Ch', 2008, 334)
('EWHC', 'Ch', 1998, 15)
('EWHC', 'Ch', 2000, 42)
('EWHC', 'Ch', 2018, 176)
('EWHC', 'Ch', 2007, 347)
('EWHC', 'Ch', 1995, 3)
('EWHC', 'Ch', 2010, 377)
('EWHC', 'Patents', 2015, 29)
('EWHC', 'Patents', 2003, 16)
('EWHC', 'Patents', 2017, 26)
('EWHC', 'Patents', 2006, 29)
('EWHC', 'Patents', 2002, 11)
('EWHC', 'Patents', 1997, 9)
('EWHC', 'Patents', 2004, 16)
('EWHC', 'Patents', 1996, 2)
('EWHC', 'Patents', 2014, 37)
('EWHC', 'Patents', 2001, 8)
('EWHC', 'Patents', 2005, 15)
('EWHC', 'Patents', 2009, 42)
('EWHC', 'Patents', 1999, 14)
('EWHC', 'Patents', 2016, 38)
('EWHC', 'Patents', 2011, 37)
('EWHC', 'Patents', 2013, 42)
('EWHC', 'Patents', 2012, 29)
('EWHC', 'Patents', 2008, 41)
('EWHC', 'Patents', 1998, 28)
('EWHC', 'Patents', 2000, 16)
('EWHC', 'Patents', 2018, 13)
('EWHC', 'Patents', 2007, 35)
('EWHC', 'Patents', 2010, 25)
('EWHC', 'TCC', 2015, 85)
('EWHC', 'TCC', 2003, 49)
('EWHC', 'TCC', 2017, 92)
('EWHC', 'TCC', 2006, 90)
('EWHC', 'TCC', 2002, 37)
('EWHC', 'TCC', 1997, 11)
('EWHC', 'TCC', 2004, 65)
('EWHC', 'TCC', 2014, 88)
('EWHC', 'TCC', 2001, 20)
('EWHC', 'TCC', 2005, 80)
('EWHC', 'TCC', 2009, 98)
('EWHC', 'TCC', 1999, 33)
('EWHC', 'TCC', 2016, 81)
('EWHC', 'TCC', 2011, 89)
('EWHC', 'TCC', 2013, 98)
('EWHC', 'TCC', 2012, 82)
('EWHC', 'TCC', 2008, 97)
('EWHC', 'TCC', 1998, 25)
('EWHC', 'TCC', 2000, 46)
('EWHC', 'TCC', 2018, 31)
('EWHC', 'TCC', 2007, 98)
('EWHC', 'TCC', 2010, 91)
('EWHC', 'Costs', 2015, 8)
('EWHC', 'Costs', 2003, 45)
('EWHC', 'Costs', 2017, 12)
('EWHC', 'Costs', 2006, 20)
('EWHC', 'Costs', 2002, 36)
('EWHC', 'Costs', 2004, 41)
('EWHC', 'Costs', 2014, 1)
('EWHC', 'Costs', 2001, 18)
('EWHC', 'Costs', 2005, 21)
('EWHC', 'Costs', 2009, 28)
('EWHC', 'Costs', 2016, 12)
('EWHC', 'Costs', 2011, 19)
('EWHC', 'Costs', 2013, 3)
('EWHC', 'Costs', 2012, 6)
('EWHC', 'Costs', 2008, 24)
('EWHC', 'Costs', 2000, 13)
('EWHC', 'Costs', 2018, 8)
('EWHC', 'Costs', 2007, 30)
('EWHC', 'Costs', 2010, 27)
('EWHC', 'Comm', 2015, 161)
('EWHC', 'Comm', 2003, 111)
('EWHC', 'Comm', 2017, 167)
('EWHC', 'Comm', 2006, 121)
('EWHC', 'Comm', 2002, 70)
('EWHC', 'Comm', 1997, 3)
('EWHC', 'Comm', 2004, 108)
('EWHC', 'Comm', 1996, 1)
('EWHC', 'Comm', 2014, 174)
('EWHC', 'Comm', 2001, 54)
('EWHC', 'Comm', 2005, 106)
('EWHC', 'Comm', 2009, 131)
('EWHC', 'Comm', 1999, 19)
('EWHC', 'Comm', 2016, 128)
('EWHC', 'Comm', 2011, 170)
('EWHC', 'Comm', 2013, 144)
('EWHC', 'Comm', 2012, 147)
('EWHC', 'Comm', 2008, 120)
('EWHC', 'Comm', 1998, 11)
('EWHC', 'Comm', 2000, 45)
('EWHC', 'Comm', 2018, 97)
('EWHC', 'Comm', 2007, 127)
('EWHC', 'Comm', 1995, 1)
('EWHC', 'Comm', 2010, 134)
('EWCA', 'Civ', 2015, 805)
('EWCA', 'Civ', 2003, 775)
('EWCA', 'Civ', 2017, 529)
('EWCA', 'Civ', 2006, 799)
('EWCA', 'Civ', 2002, 1784)
('EWCA', 'Civ', 1997, 182)
('EWCA', 'Civ', 1990, 19)
('EWCA', 'Civ', 2004, 785)
('EWCA', 'Civ', 1996, 124)
('EWCA', 'Civ', 1992, 18)
('EWCA', 'Civ', 2014, 681)
('EWCA', 'Civ', 2001, 2037)
('EWCA', 'Civ', 2005, 806)
('EWCA', 'Civ', 2009, 802)
('EWCA', 'Civ', 1999, 191)
('EWCA', 'Civ', 2016, 616)
('EWCA', 'Civ', 1991, 16)
('EWCA', 'Civ', 2011, 794)
('EWCA', 'Civ', 1994, 39)
('EWCA', 'Civ', 2013, 792)
('EWCA', 'Civ', 2012, 776)
('EWCA', 'Civ', 2008, 951)
('EWCA', 'Civ', 1998, 226)
('EWCA', 'Civ', 2000, 478)
('EWCA', 'Civ', 1993, 34)
('EWCA', 'Civ', 2018, 312)
('EWCA', 'Civ', 2007, 862)
('EWCA', 'Civ', 1995, 55)
('EWCA', 'Civ', 2010, 778)
('EWCA', 'Crim', 2015, 171)
('EWCA', 'Crim', 2003, 172)
('EWCA', 'Crim', 2017, 233)
('EWCA', 'Crim', 2006, 333)
('EWCA', 'Crim', 2002, 160)
('EWCA', 'Crim', 1997, 64)
('EWCA', 'Crim', 1990, 1)
('EWCA', 'Crim', 2004, 247)
('EWCA', 'Crim', 1996, 40)
('EWCA', 'Crim', 1992, 3)
('EWCA', 'Crim', 2014, 198)
('EWCA', 'Crim', 2001, 155)
('EWCA', 'Crim', 2005, 277)
('EWCA', 'Crim', 2009, 448)
('EWCA', 'Crim', 1999, 45)
('EWCA', 'Crim', 2016, 203)
('EWCA', 'Crim', 1991, 2)
('EWCA', 'Crim', 2011, 320)
('EWCA', 'Crim', 1994, 6)
('EWCA', 'Crim', 2013, 227)
('EWCA', 'Crim', 2012, 191)
('EWCA', 'Crim', 2008, 448)
('EWCA', 'Crim', 1998, 68)
('EWCA', 'Crim', 2000, 137)
('EWCA', 'Crim', 1993, 4)
('EWCA', 'Crim', 2018, 129)
('EWCA', 'Crim', 2007, 325)
('EWCA', 'Crim', 1995, 8)
('EWCA', 'Crim', 2010, 382)
('EWPCC', None, 2006, 2)
('EWPCC', None, 2002, 1)
('EWPCC', None, 2011, 37)
('EWPCC', None, 2013, 34)
('EWPCC', None, 2012, 51)
('EWPCC', None, 2008, 3)
('EWPCC', None, 2010, 9)
('UKSC', None, 2015, 79)
('UKSC', None, 2017, 82)
('UKSC', None, 2014, 68)
('UKSC', None, 2009, 17)
('UKSC', None, 2016, 65)
('UKSC', None, 2011, 60)
('UKSC', None, 2013, 80)
('UKSC', None, 2012, 63)
('UKSC', None, 2018, 32)
('UKSC', None, 2010, 58)
('UKHL', None, 2003, 74)
('UKHL', None, 2006, 57)
('UKHL', None, 2002, 50)
('UKHL', None, 1997, 60)
('UKHL', None, 1990, 16)
('UKHL', None, 2004, 58)
('UKHL', None, 1996, 21)
('UKHL', None, 1992, 11)
('UKHL', None, 2001, 73)
('UKHL', None, 2005, 75)
('UKHL', None, 2009, 45)
('UKHL', None, 1999, 56)
('UKHL', None, 1991, 20)
('UKHL', None, 1994, 15)
('UKHL', None, 2008, 74)
('UKHL', None, 1998, 54)
('UKHL', None, 2000, 73)
('UKHL', None, 1993, 22)
('UKHL', None, 2007, 58)
('UKHL', None, 1995, 26)

In [12]:
raw_match_df = pandas.DataFrame(raw_match_list, columns=["citing_court_name",
                                                         "citing_court_division",
                                                         "citing_year",
                                                         "citing_page",
                                                         "cited_court_name",
                                                         "cited_year",
                                                         "cited_page",])
raw_match_df.to_csv("../data/citations.csv.gz", compression="gzip", encoding="utf-8", index=False)

In [8]:
raw_match_df.head()

,citing_court_name,citing_court_division,citing_year,citing_page,cited_court_name,cited_year,cited_page
0,EWHC,Admlty,2015,1269,QB,1988,183
1,EWHC,Admlty,2015,1269,2 Lloyd's Rep,1987,164
2,EWHC,Admlty,2015,1269,1 QB (CA),1984,838
3,EWHC,Admlty,2015,1269,1 Lloyd's Rep,2000,522
4,EWHC,Admlty,2015,1269,4 SLR,2012,546

In [9]:
raw_match_df["citing_court_name"].value_counts().head(25)

EWHC     203201
EWCA     134245
UKHL      25483
UKSC      24722
EWPCC       984
Name: citing_court_name, dtype: int64

In [10]:
top_n = 20
top_courts = raw_match_df["cited_court_name"].value_counts().head(top_n).index
raw_match_df["cited_court_name"].value_counts().head(top_n)

1 WLR             39685
EWHC              37774
EWCA Civ          37695
AC                25929
1 AC              15142
2 AC              12590
UKHL              12060
QB                11042
UKSC               7621
EWCA Crim          6835
Ch                 6701
RPC                5338
ECR I-             5141
ICR                4825
STC                3902
1 QB               3900
IRLR               3098
1 Lloyd's Rep      3079
1 All ER           3027
2 Lloyd's Rep      3022
Name: cited_court_name, dtype: int64

In [11]:
raw_match_df.loc[raw_match_df["cited_court_name"].isin(top_courts), :]\
    .groupby(["citing_court_name", "cited_court_name"])["citing_year"].count().unstack().T

citing_court_name     EWCA     EWHC  EWPCC    UKHL    UKSC
cited_court_name
1 AC                4886.0   6981.0    7.0  1753.0  1515.0
1 All ER             951.0   1652.0    2.0   232.0   190.0
1 Lloyd's Rep        734.0   2093.0    1.0   126.0   125.0
1 QB                1604.0   1906.0    2.0   216.0   172.0
1 WLR              13596.0  21272.0   33.0  2231.0  2553.0
2 AC                4161.0   5710.0    2.0  1450.0  1267.0
2 Lloyd's Rep        741.0   2067.0    NaN   106.0   108.0
AC                  9110.0  11567.0   25.0  2974.0  2253.0
Ch                  2171.0   3704.0   12.0   375.0   439.0
ECR I-              1609.0   2850.0   35.0   177.0   470.0
EWCA Civ           13950.0  20984.0  104.0   910.0  1747.0
EWCA Crim           5627.0    828.0    NaN   221.0   159.0
EWHC                6851.0  29709.0   86.0   289.0   839.0
ICR                 2591.0   1225.0    NaN   542.0   467.0
IRLR                1803.0   1014.0    1.0   151.0   129.0
QB                  3807.0   5553.0    6.0  1001.0   675.0
RPC                 1383.0   3465.0  193.0   159.0   138.0
STC                 1727.0   1677.0    NaN   242.0   256.0
UKHL                3761.0   4404.0   14.0  2933.0   948.0
UKSC                1977.0   3070.0    6.0     NaN  2568.0